<h1>W. Reiner Lueth</h1>

{{input value=input enter="search"}}
<button onclick={{action "search"}}>Search</button>

<ul>
  <li>
    {{#link-to 'home'}}
      Home
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'resume'}}
      Resume
    {{/link-to}}
  </li>
</ul>

{{outlet}}
