<h3>Resume Stuff</h3>

<ul>
  <li>
    {{#link-to 'resume.education'}}
      Education
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'resume.experience'}}
      Experience
    {{/link-to}}
  </li>
</ul>

{{outlet}}
